<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uhavecodingproblem.wordsrpg">

    <queries>
        <package android:name="com.kakao.talk" />
    </queries>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >


        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".ui.activity.MainActivity">
        </activity>

        <activity android:name=".ui.activity.NotificationActivity">
        </activity>

        <activity android:name=".ui.activity.WrongAnswerActivity">
        </activity>

        <activity android:name=".ui.activity.SettingActivity">
        </activity>

<!--        INTRO-->
        <activity android:name=".ui.activity.intro.LoginActivity">
            <data android:host="oauth"
                android:scheme="kakao87d68eb5b0677528fa501958b1131ec9" />
        </activity>
        <activity android:name=".ui.activity.intro.RegisterActivity">
        </activity>

        <activity android:name=".ui.activity.intro.GuideActivity"/>

        <activity android:name=".ui.activity.intro.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        INTRO - END-->

        <activity android:name=".ui.activity.itemStoreActivity.ItemStoreActivity">
        </activity>


    </application>


</manifest>