<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uhavecodingproblem.wordsrpg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".application.Application"
        >

        <activity android:name=".ui.activity.MainActivity">
        </activity>

        <activity android:name=".ui.activity.NotificationActivity">
        </activity>

        <activity android:name=".ui.activity.WrongAnswerActivity">
        </activity>

        <activity android:name=".ui.activity.SettingActivity">
        </activity>

<!--        INTRO-->
        <activity android:name=".ui.activity.intro.FindIDActivity">
        </activity>
        <activity android:name=".ui.activity.intro.FindPasswordActivity">
        </activity>
        <activity android:name=".ui.activity.intro.LoginActivity">
        </activity>
        <activity android:name=".ui.activity.intro.RegisterActivity">
        </activity>

        <activity android:name=".ui.activity.intro.GuideActivity"/>

        <activity android:name=".ui.activity.intro.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        INTRO - END-->

        <activity android:name=".ui.activity.itemStoreActivity.ItemStoreActivity">
        </activity>


    </application>


</manifest>